.cat1{
    border: solid black;
    margin-right: 70%;
    margin-top: 90px;
    border-radius: 20px;
    background-color: black;
}
.cat1 > h2 {
    color: red;
}
.cat1 > h3 {
    color: red;
}
#mfoto{
    display: inline-block;
    padding-top: 2%;
    padding-left: 3%;
}
#logo{
    display: inline-block;
    padding-left: 80%
}
label{
    color: red;
}